.container1{
    width: 700px;
    height: 200px;
    background:gold;
    color: white;
    border-radius: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
  gap: 5px;
}
.p{
    width: 50px;
    height: 20px;
}
.card-title{
    color: red !important
}
.container2{
width: 300px;
height: 300px;
background-color: #63794e;
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px 100px;

}
.item1{
    grid-column-start: 2;
    grid-row-start: 2;
   
    bottom: 230px;
    left: 20px;
}
.crd{
    height: 100px;
  background-color: red;
    width: 70px;
}
.header{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 333px) {
    .card{
      
     width:30px ;
        height: 30px;
    }
}